<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="print()"></button>
    <div id="print">

    </div>

    <script>
        function print() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    data = this.responseText;
                    data = JSON.parse(data);
                    console.log(data)
                    alert(data)
                    document.getElementById("print").innerText = data

                }
            };

            xhttp.open("GET", "/show");
            console.log('----------');
            xhttp.send();
        }
        

    </script>



</body>

</html>